<h3><%= "With: " + (if @conversation.interlocutor.id != current_user.id then @conversation.interlocutor.name else @conversation.user.name end) %></h3>
	<%= render "new_line" %>
	<dl class="dl-horizontal">
		<% for line in @conversation.lines do %>
			<% if line.id %>
					
        				<dt><%=line.user.name%>:</dt>
        				<dd><%=line.text %>
							<h6>- <%= time_ago_in_words(line.created_at) %> ago.</h6>
						</dd>
			
			<% end %>
		<% end %>
	</dl>
