<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <%= render 'show_main' %>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'follow_form' if signed_in? %>
      <%= render 'message_form' if signed_in? %>
      <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts, param_name: :microposts_page %>
      <% end %>
    </section>
  </aside>

<!-- BODY -->
  <div class="span8">
    </br>
    <h3>Ideas! (<%= @user.ideas.count %>)</h3>
    </br>
    <% if @user.ideas %>
      <%= render 'show_ideas' %>
    <% end %>
    </br>
    <h3>Liked Projects (<%= @user.liked_projects.count %>)</h3>
    </br>
    <% if @user.likes %>
      <%= render 'shared/project_thumbnail', projects: @user.liked_projects, size: 2 %>
    <% end %>

    <h3>Owned Projects (<%= @user.projects.count %>)</h3>
    </br>
    <% if @user.projects %>
      <%= render 'shared/project_thumbnail', projects: @projects, size: 2 %> 
      <%= will_paginate @projects, param_name: :projects_page %>
      </br>
    <% end %>

    <h3>Collaborations (<%= @user.collaborations.count %>)</h3>
    </br>
    <% if @user.collaborations %>
      <%= render 'shared/project_thumbnail', projects: @user.collaborations, size: 2 %>
    <% end %>
  </div>
    
</div>