<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <h4>
        From <%= @user.place %> </br></br>
        Ocupation: <%= @user.whatido %> </br></br>
        Stalk me at: <%= link_to @user.webpage, "http://"+@user.webpage %>
      </h4>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>

      <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts, param_name: :microposts_page %>
      <% end %>

    </section>
  </aside>

  <div class="span8">

     <h3>Projects (<%= @user.projects.count %>)</h3>
   </br>

    <ul class="thumbnails"> <!-- generar class projects-->
   <% @projects.each do |project| %>
     <li class ="span2">
      <a href= <%= "/projects/#{project.id}" %> class="thumbnail">
        <!--div class="thumbnail"  %-->
            <img  src= <%="/projects_cover/#{project.cover}" %> 
            alt= <%= project.name %> >
            <h4><%= wrap(project.name[0..24]) %></h4>
            <h5><%= wrap(project.description[0..40]) %></h5>
            <span class="timestamp">
              Posted <%= time_ago_in_words(project.created_at) %> ago.
            </span>
        </a>
    </li>

   <% end %>
    </ul>
    <%= will_paginate @projects, param_name: :projects_page%>

  </div>
    
  </div>


    <!--
<table class="profile">
  <tr>
    <td class="main">
    </td>
  </tr>
</table>-->