
<%= form_for @project.tasks.build(project_id: @project.id) do |f| %>

<div><%= f.hidden_field :project_id %></div>

 <%= f.text_field :description %>
 <%= f.select :responsible, options_from_collection_for_select(@project.collaborators, "id", "name")  %>
  <!--%= f.calendar_date_select :deadline %-->


  <%= f.submit "Post Task",class: "btn btn-small btn-secondary" %>
<% end %>