<% for need in @project.needs do %>
  <dl>
    <dt><h4><%= need.title %>, @ <%= if need.anywhere ; "Anywhere" else need.place end %></h4></tt>
    <dd><p><%= need.description %></p>
    <p> REWARD: <%= need.reward %></p>
    <% if collaborator?(@project) %>
      <%= render 'shared/rem', obj: need %></dd>
    <% end %>
  </dl>
<% end %>