<% for t in @project.thrds do %>
  <% if t.id %>
  <dl>
    <dt>
      <h4><%= t.content%><% if collaborator?(@project) %><%= render 'shared/rem', obj: t %><% end %></h4>
      <p> <%=  render 'shared/wnt', obj: t %></p>
    </dt>
    <% if t.commenthrds %>
      <dd>
        <% for comment in t.commenthrds do %>
          <h5><%= comment.comment %><% if collaborator?(@project) %><%= render 'shared/rem', obj: comment%><% end %></h5>
          <p> <%=  render 'shared/wnt', obj: t %></p>
        <% end %>
      </dd>
    <% end %>
      <dc><%= render 'add_commenthrd', thrd: t %></dc>
  </dl>
  <% end %>
<% end %>
