<h1><%= @project.name %></h1>

<div class="row">
  <div class="span8">
    <h5>
    <% if @project.place != "" %>
    <%= " " + @project.place + ", " %>
    <% end %>
    <%= pluralize(@project.likes_count, "like") %>
    </h5>
   </br>
    <h5>
      Category: <span class="label label-info"><%= link_to @project.category.name, nav_path(category: @project.category) + ", " %></span>
      Tags: 
      <% tag_split(@project.tags).each do |t| %>
          <span class="label"><%= t %></span>
      <% end %>
    </h5>
  </div>
  <div class="span3">
    <table>
      <td>
        <% if @project.finished != true %>
          <%= render 'collab_form' %>
        <% end %>
      </td>
      <td><%= render 'like_form' %></td>
    </table>
  </div>
</div>
