<% provide(:title, "All Projects") %>
<div class="row-fluid">
 <div class="span12">

  <div class="row-fluid">
   <div class="span2">
   	<section>
   		<%= render 'index_nav' %>
	</section>
	<section>
		<h2>Text</h2>
	</section>
   </div>
<!-- PROJECTS -->
   <div class="span10">
   	<h1> Top </h1>
   		<%= render 'shared/project_thumbnail', projects: @ptop,size: 4 %>
         <%= will_paginate @ptop, param_name: :ptop %>
   	<h1> New </h1>
         <%= render 'shared/project_thumbnail', projects: @pnew,size: 2 %>
         <%= will_paginate @pnew, param_name: :pnew %>
   	<h1> Random </h1>
	      <%= render 'shared/project_thumbnail', projects: @prand,size: 1 %>
         <%= will_paginate @pnew, param_name: :rand %>
   </div>
  </div>
 </div>
</div>