<% provide(:title, @project.name) %>

<%= render 'show_main_h' %>

<div class="row">

<!-- CUERPO -->

  <div class="span9">
    
    <%= render 'show_main_b' %> <!-- main info -->
    </br>

    <div class="row">

      <div class="span2">
        <% if @project.updates %>
          <%= render 'show_updates' %>
        <% end %>
        <% if collaborator?(@project) %>
          <%= render 'post_update' %>
        <% end %>
      </div>

      <div class="span7">
        <h3>Board</h3>
        <% if @project.resources %>
          <%= render 'shared/show_resources', resources: @project.resources, size: "2" %>
        <% end %>
        <% if collaborator?(@project) %>
          <%= render 'add_resource' %>
        <% end %>
      </div>
    </div>
    

  </div>

<!--DERECHO-->

  <div class="span3">

    <% if @project.finished %>
      <%= render 'show_comments' %>
      <%= render 'post_comment' %>
    <% else %>

      <h3>Needs:</h3>
      <% if @project.needs %>
        <%= render 'show_needs' %>
      <% end %>
      <% if collaborator?(@project) %>
          <%= render 'post_need' %>
      <% end %>

      <%= render 'show_collaborators' %>

      <h3>Tasks:</h3>
      <% if @project.tasks %>
        <%= render 'show_tasks' %>
      <% end %>
      <% if collaborator?(@project) %>
          <%= render 'post_tasks' %>
      <% end %>

      <h3>Messages:</h3>
      <% if current_user.id == @project.user.id || @project.collaborators.exists?(current_user.id) %>
        <%= render 'add_thread' %>
      <% end %>
      <% if @project.thrds %>
        <%= render 'show_thrds' %>
      <% end %>

    <% end %>
  </div>
  
</div>