<!-- Muestra cada proyecto: projects/1 -->
<% provide(:title, @project.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for User.find(@project.user_id) %> <!-- cambiar al user presente o ejecutar un mejor m[etodo. Ojo con los stats-->
        <%= link_to User.find(@project.user_id).name, User.find(@project.user_id) %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">

<h1>
  <%= @project.name %>
</h1>

<ul class="thumbnails">
  <li class="span6">
    <a href="#" class="thumbnail">
      <img  src= <%="/projects_cover/#{@project.cover}" %> alt="">
    </a>
  </li>
</ul>
<h4>
  Category: <span class="label label-info"><%= @project.category.name %></span>
</h4>
  </br>
<h2>
  <%= @project.description %>
</h2>  
<h3>
  This is a <%=profit?(@project.profitable)%> project 
</h3>
<h3>
  This is an <%=online?(@project.online)%> project 
</h3>
<h3>
  <% if @project.place != "" %>
  <%= "This project currently running at " + @project.place %>
  <% end %>
</h3>
<h3>
  This is a <%=finished?(@project.finished)%> project 
</h3>
</br>
<h4>
  Tags: 
  <% tag_split(@project.tags).each do |t| %>
      <span class="label"><%= t %></span>
  <% end %>
</h4>
</br>
  <% if current_user?(@project.user) %>
      <%= link_to "delete", @project, method: :delete,
                                       confirm: "No please! we won't survive without it :'(",
                                       title: @project.name %>
      <%= link_to "edit", edit_project_path(@project) %>
  <% end %>

</div>
    
  </div>