<% provide(:title, @project.name) %>

<%= render 'show_main_h' %>

<div class="row">

<!-- CUERPO -->

  <div class="span9">
    
    <%= render 'show_main_b' %> <!-- main info -->
    </br>

    <div class="row">

      <div class="span2">
        <% if @project.updates %>
          <%= render 'show_updates' %>
        <% end %>
        <% if collaborator?(@project) %>
          <%= render 'post_update' %>
        <% end %>
      </div>

      <div class="span7">
        <h3>Board</h3>
        <% if @project.resources %>
          <%= render 'shared/show_resources', resources: @project.resources, size: "2" %>
        <% end %>
        <% if collaborator?(@project) %>
          <%= render 'add_resource' %>
        <% end %>
      </div>
    </div>
    <% if @project.resources %>
    <div class="span5 offset2">
    <%= render 'carousel', resources: @project.resources %>
    </div><%end%>

  </div>

<!--DERECHO-->

  <div class="span3">

    <% if @project.finished %>
      <%= render 'show_comments' %>
      <%= render 'post_comment' %>
    <% else %>

      <%= render 'show_collaborators' %>

      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              <h3>Tasks:</h3>
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
              <% if @project.tasks %>
                <%= render 'show_tasks' %>
              <% end %>
              <% if collaborator?(@project) %>
                <%= render 'post_tasks' %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
               <h3>Needs:</h3>
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              <% if @project.needs %>
                <%= render 'show_needs' %>
              <% end %>
              <% if collaborator?(@project) %>
                  <%= render 'post_need' %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
              <h3>Messages:</h3>
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              <% if current_user.id == @project.user.id || @project.collaborators.exists?(current_user.id) %>
                <%= render 'add_thread' %>
              <% end %>
              <% if @project.thrds %>
                <%= render 'show_thrds' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

 <% end %>

  
</div>


  </div>